.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      button.btn.btn-navbar(type="button",data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      
      a.brand(href="#") Repo Reviews 
      .nav-collapse.collapse
        ul.nav
          li.active 
            a(href="#") Home
          li 
            a(href="/module") Add a Module 
           
        form.navbar-form.pull-right
          input.span2(type="text", placeholder="Email")
          input.span2(type="password", placeholder="Password")
          button.btn(type="submit") Sign in
             