.navbar.navbar-inverse.navbar-fixed-top
  .container
    a.navbar-brand(href="/") Library.io
    .nav.navbar-nav
      li 
        a(href="/module") Add a Module
      li 
        a(href="/review") Write a Review

      
    if !user 
      a(href='/login').btn.btn-default.navbar-btn.pull-right Sign in
    else 
      p.navbar-text.pull-right(href='/account') signed in as 
        a(href='/account') #{user.username} 
