//- Template for a single review living inside of a repo page
li.review
  .avatar
    .inner
      img.pic(src='http://lorempixel.com/44/44/')
      a.username= review.user.username
   
  .story
    .inner
      .stars      
        mixin stars(review.rating)
 
      span.date 5/2/22
      
      h4= review.title
      p= review.text