extends ../../common/views/layout

block styles
  link(rel='stylesheet', href='/styles/repo.css')


block content
  .head.row.well

    h1 Express
    a(href='#') http://expressjs.com/

    .stars.large
      i.icon-star
      i.icon-star
      i.icon-star
      i.icon-star
      i.icon-star  

    p Language :  javascript
    p Categories : node, web development, frameworks

  .reviews.row
    ul.unstyled
      reviews = [{user:{ name: 'Anson'}, story:{title:'jade is awesome', story:"learning jade wasnt so hard"}}]

      each review in reviews
        include review



