mixin stars(rating)
  .stars.large
    - for (var i = 0; i < Math.floor(rating); ++i) {
      .icon-star
    - }
    if module.rating%1 > 0
      .icon-star-half-full
    - for (var i = Math.ceil(rating); i < 5; ++i) {
      .icon-star-empty
    - }