mixin stars(rating)
  .stars.large
    - for (var i = 0; i < Math.floor(rating); ++i) {
      .icon-star
    - }
    if module.rating%1 > 0
      .icon-star-half-full
    - for (var i = Math.ceil(rating); i < 5; ++i) {
      .icon-star-empty
    - }



mixin rater
  .stars.large.rater
    .icon-star-empty.star(data-star=1)
    .icon-star-empty.star(data-star=2)
    .icon-star-empty.star(data-star=3)
    .icon-star-empty.star(data-star=4)
    .icon-star-empty.star(data-star=5)