mixin stars(rating)
  - for (var i = 0; i < Math.floor(rating); ++i) {
    .icon-star.star.gold
  - }

  if (rating%1 > 0.5)
    .icon-star.star.gold
  else if (rating%1 > 0)
    .icon-star-half-full.star.gold

  - for (var i = Math.ceil(rating); i < 5; ++i) {
    .icon-star-empty.star
  - }



mixin rater
  .stars.large.rater
    .icon-star-empty.star(data-star=1)
    .icon-star-empty.star(data-star=2)
    .icon-star-empty.star(data-star=3)
    .icon-star-empty.star(data-star=4)
    .icon-star-empty.star(data-star=5)