.jumbotron {
  padding-top: 50px;
}
.jumbotron .heading {
  margin-top: 0;
  padding-top: 20px;
  font-size: 70px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -1px;
  background: none;
}
.jumbotron .subheading {
  margin: 10px 0 0;
  font-size: 21px;
  line-height: 1.5;
  color: #888;
  font-weight: normal;
}
.jumbotron .signup {
  max-width: 300px;
}
.jumbotron .signup .heading,
.jumbotron .signup .checkbox {
  margin-bottom: 10px;
}
.jumbotron .signup input[type="text"],
.jumbotron .signup input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
