.stars
  color gold
  &.large
    font-size 24px


.review
  border-bottom 0px solid grey
  padding 2px

  .avatar
    width 120px
    float left
    margin-right 7px

    .inner
      margin 10px 10px 0 0 
      .username
        display block
      .pic
        display block

  .story
    display table-cell
    vertical-align top
    .inner
      margin 10px 0 0 0 

    .rating
      display inline-block

    .date
      margin-left 10px

      