@media (min-width: 979px)
  body 
    padding-top 60px

.navbar-form 
  input, select, .btn
    margin-left 4px

.container
  max-width 940px
  
.user
  font-size 18px

  .username 
    margin-left 4px
    margin-top 10px
    color white
  .logout
    margin-left 4px
    margin-top 10px
  


    
  