extends layout

block styles
  link(rel='stylesheet', href='/styles/repo.css')


block content
  h1 Welcome #{user.username}

  p stuff recommended for you etc

  h1 
    a(href='/module/angular') Angular
    


