extends layout

block styles
  link(rel='stylesheet', href='/styles/singup.css')

block scripts


block content
  .jumbotron.masthead.row-fluid
  
    .span7
      h1.heading Find Software Smarter, Together
      h2.subheading Find the right open source library for your next project

    form.signup.span5(action='/users', method='post')
      .section
        input(type="text", name='user[username]', placeholder="Pick a username")
      .section
        input(type="text", name='user[email]', placeholder="Your email")
      .section
        input(type="password", name='user[password]', placeholder="Choose a password")
      .section
      button.btn.btn-large.btn-primary(type="submit") Sign up   

    



