doctype 5
html(lang="en")
  head
    title= title

  //- Styles
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css")
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css")
  link(rel='stylesheet', href='/styles/styles.css')

  block styles

  body
    include partials/navbar

    .container.narrow-container  
      
      include partials/messages
      
      block content

      include partials/footer
      

  //- Scripts
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  block scripts