extends layout

block styles
  link(rel='stylesheet', href='/styles/singup.css')

block scripts


block content
  form.navbar-form(action='/user/login', method='post')
    fieldset
      .form-group
        label username
        input.form-control(type="text", name='username', placeholder="Username")
      .form-group
        label password
        input.form-control(type="password", name='password', placeholder="Password")
    
      button.btn(type="submit") Sign in