extends layout

block styles
  link(rel='stylesheet', href='/styles/module.css')

block scripts


block content
  
    h1.heading Tell us about a new module

    form.create(action='/modules', method='post')
      .section  
        label.control-label module name
        input(type="text", id="name", placeholder="Name", name='module[name]')
      .section
        label.control-label language
        input(type="text", id="language", placeholder="eg. javscript", name='module[language]')
      .section    
        label.control-label url
        input.input-xlarge(type="text", id="url", placeholder="www.github.com/kumikoda/repo", name='module[url]')
      .section
        label.control-label tags
        input(type="text", id="tags", placeholder="tags", name='module[tags]')
      .section
        button.btn.btn-large.btn-primary(type="submit") add!
          
        
          
      
      
        
      
      


