extends layout

block styles
  link(rel='stylesheet', href='/styles/singup.css')

block scripts


block content
  form.signup(action='/users', method='post', class='')
    fieldset
      .form-group
        label Username
        input.form-control(type="text", name='user[username]', placeholder="Pick a username")
      .form-group
        label Email
        input.form-control(type="text", name='user[email]', placeholder="Your email")
      .form-group
        label Password
        input.form-control(type="password", name='user[password]', placeholder="Choose a password")
      
      button.btn.btn-large.btn-primary(type="submit") Sign up   

      



