doctype 5
html(lang="en")
  head
    title= title

  //- Styles
  link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')

  link(rel='stylesheet', href='/styles/styles.css')
  link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap-responsive.css')

  block styles

  body
    include navbar

    .container  
      block content

    include footer
      

  //- Scripts
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(src='/scripts/app.js')
  block scripts